<section
  id="experience"
  class="w-full max-w-[1320px] mx-auto h-auto mt-24 md:mt-1 lg:mt-1 pb-12"
>
  <h1
    class="text-2xl md:text-3xl font-bold text-center sm:py-4 mb-6 capitalize"
  >
    little bit about my experience
  </h1>

  <div class="flex items-center justify-center px-3" id="companies">
    <div
      class="projectBox border md:border-2 border-slate-600 rounded-xl p-4 md:p-5 max-w-[100%] md:max-w-[400px] w-full md:w-auto"
      style="background-color: #000319"
    >
      <img
        src="https://res.cloudinary.com/dqvibt2rf/image/upload/v1750763522/codex_jfdhch.jpg"
        alt="codextech"
        loading="lazy"
        class="w-full h-44 object-cover rounded-lg"
      />
      <h2 class="text-lg md:text-xl font-bold text-indigo-100 capitalize mt-3">
        Full Stack Developer Intern
      </h2>
      <p class="text-sm italic text-neutral-400 mt-1">
        August 2024 – February 2025 (6 months)
      </p>
      <h4
        class="text-base font-extrabold text-neutral-300 mt-1 flex items-center gap-2 uppercase"
      >
        <a href="/"> Codextech</a>
        <img src="/icons/share.svg" alt="share icon" class="w-4 h-4" />
      </h4>
      <p class="max-w-full mt-2 text-sm md:text-base text-neutral-400">
        During my internship at Codextech, I contributed to developing scalable
        web apps using Node.js, Express.js, MongoDB, and React.js. I worked
        closely with the team on RESTful APIs, applied TypeScript for
        maintainable code, and crafted responsive UIs using Tailwind CSS. This
        hands-on experience enhanced my full stack development and agile
        collaboration skills.
      </p>
    </div>
  </div>
</section>
